@font-face {
	font-family: "Iosevka";
	src: url("../fonts/iosevka-regular-minimal.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--r-heading2-size: 1.2em;
	--r-code-font: "Iosevka", monospace;
}

.medium {
	font-size: 0.8em;
}

/* div.openblock.medium { */
/* 	font-size: 0.8em; */
/* 	line-height: 0.8em; */
/* } */

.small {
	font-size: 0.6em;
}

/* div.openblock.small { */
/* 	font-size: 0.6em; */
/* 	line-height: 0.6em; */
/* } */

.attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.33em;
}

.medium > h2 { font-size: 1.2em; }
.small > h2 { font-size: 0.8em; }

/*
 * Hack: asciidoctor-revealjs auto-animate requires linenums to be enabled,
 * but we don't care about line numbers in our examples,
 * so make them invisible.
 */
.listingblock .hljs-ln-numbers { display: none; }

/*
Based on https://stackoverflow.com/a/58206339,
the following pins the title of each slide to the top of the page
and centers the contents inside the rest
but only if there is non-header content on the page.
If it's just a header, it gets centered in the middle of the page.
*/
section:has(> .slide-content > :not(aside)) {
    display: flex !important;
    flex-direction: column;
    top: unset !important;
    height: 100%;
}

section .slide-content:has(> :not(aside)) {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* reveal.js adds a slight shadow to code blocks. drop it. */
.reveal pre {
    box-shadow: none
}

table.noborder,
table.noborder td,
table.noborder th
{ border: 0; }
